body { 
    background-color: black; 
    text-align: center;
    overflow-x: hidden;
}

.title { 
    background-color: gray; 
    margin: -10px; 
    margin-top: -21.8px;
}

.pai-column {
    float: inline-start; 
    margin: 1.5%; 
    width: 30%; 
    margin-top: 30px; 
    box-sizing: border-box
}

.tabs {
    width: 100%;
    border: solid;
    border-color: gray;
    box-sizing: border-box
}

.column {
    width: 100%;
    border: solid;
    border-color: gray;
    height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box
}

.column::-webkit-scrollbar {
    width: 10px;
}

.column::-webkit-scrollbar-thumb {
    background: white;
}
  
.column::-webkit-scrollbar-track {
    background: black;
}

.subtitle {
    background-color: gray; 
    margin-top: 0px;
    margin-bottom: 0px;
}

.prf {
    width: 100%;
    color: white;
    background-color: transparent;
    font-size: large;
    block-size: 50px;
    box-sizing: border-box;
    cursor: pointer;
}

.trc {
    width: 100%;
    color: white;
    background-color: transparent;
    text-align: left;
    font-size: large;
    box-sizing: border-box;
    cursor: pointer;
}

.addt {
    text-align: right; 
    float: inline-end; 
    color:rgb(118, 236, 0);
}

.rmvt {
    text-align: right; 
    float: inline-end; 
    color:rgb(236, 0, 0);
}

hr {
    margin: 0px;
    border-color: gray;
}

